%h1=t(".title")

%h3=t(".section1.title")
%p=t(".section1.text")

%h3=t(".section2.title")
%p=t(".section2.text") 

%h3=t(".section3.title")
%p=t(".section3.text") 
%h3=t(".section4.title")
%p=t(".section4.text1") 
%p=t(".section4.text2") 

%h3=t(".section5.title")
%p=t(".section5.text") 
%h3=t(".section6.title")
%p=t(".section6.text") 

%h3=t(".section7.title")
%a{:href=>"http://www.wirspeichernnicht.de/content/view/10/22/"}
  %img{:src=>"http://www.wirspeichernnicht.de/images/wirspeichernnichtsiegel.png", :alt=>"Wir speichern nicht - Weitere Informationen hier...", :title=>"Wir speichern nicht - Weitere Informationen hier...", :border=>"0", :height=>"113", :width=>"109", :align=>"right"}
%p=t(".section7.text") 

%h3=t(".section8.title")
%p 
  %b=t(".section8.text") 
