-t_namespace("views.front.about")

%h1=t(".title")

%h3=t(".section1.title")
%p=t(".section1.text")

%h3=t(".section2.title")
%p=t(".section2.text") 

%h3=t(".section3.title")
%p=t(".section3.text") 

%h3=t(".section4.title")
%p=t(".section4.text1") 
%p=t(".section4.text2") 

%h3=t(".section5.title")
%p=t(".section5.text") 

%h3=t(".section6.title")
%p=t(".section6.text") 

%h3=t(".section7.title")
%p 
  %b=t(".section7.text") 
