-t_namespace("views.front.disclaimer")

%h1=t(".title")

%h3=t(".section1.title")
.q=t(".section1.text")

%h3=t(".section2.title")
.q=t(".section2.text")

%h3=t(".section3.title")
.q=t(".section3.text")

%h3=t(".section4.title")
.q=t(".section4.text")

%h3=t(".section5.title")
.q=t(".section5.text")

.right
  =t(".source.text")
  =link_to t(".source.name"), t(".source.link")