- t_namespace("views.organisations.edit")
%h1=t(".title")

.contextmenu
  = link_to t(".contextmenu.show"), @organisation  
  |
  = link_to t(".contextmenu.back"), organisations_path

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}

  - # workaround to reactivate namespace after rendering fields
  - t_namespace("views.organisations.edit")

  .buttons= f.submit t(".button.submit")

