%h1=t(".title")

.contextmenu
  = link_to t(".contextmenu.show"), @organisation  
  |
  = link_to t(".contextmenu.back"), organisations_path

- form_for(@organisation) do |f| 
  = render :partial => 'fields', :locals => {:f => f}

  .buttons= f.submit t(".button.submit")

