<strong><%= html_escape @event.title%>,</strong>
<br/><br/><%= @event.startdate && l(@event.startdate,:format => "long_verbal")%>,
<br/><%= html_escape @event.address %><br/>
<% if @event.location? %>
  (<%= html_escape( @event.location) %>)
<% end %>

